:root {
  --primary-color: #B14749;
  --secondary-color: #AC282E;
  --background-color: #F5F7F8;
  --text-color: #333;
  --highlight-color: #ff5959;
  --font-regular: 'UbuntuReg', Arial, sans-serif;
  --font-bold: 'UbuntuBold', Arial, sans-serif;
}

/* ============ Global Styles ============ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-regular);
  background-color: var(--background-color);
  padding-top: 2em;
  color: var(--text-color);
  line-height: 1.6;
}

.container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  padding: 10px;
  margin-top: 150px;
}

/* ============ App Bar ============ */
.app-bar {
  z-index: 1000;
  background-color: var(--background-color);
  border: 2px solid #343A40;
  padding: 1.5em 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100vw;
  top: 0;
}

.app-bar h1 {
  font-family: var(--font-bold);
  font-size: 70px;
  color: var(--primary-color);
}

/* ============ Navigation Button Styles ============ */
.nav-btn {
  font-family: var(--font-regular);
  font-size: 22px;
  background-color: transparent;
  border: none;
  color: #53555B;
  cursor: pointer;
  padding: 0.5em 1em;
  margin-top: 10px;
  position: relative;
  transition: color 0.2s ease-in-out;
}

.nav-btn:hover {
  color: var(--primary-color);
}

/* Sidebar and Main Content Styling */
.sidebar {
  width: 250px;
  background-color: var(--highlight-color);
  padding: 20px;
  border-radius: 10px;
  margin-right: 20px;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Responsive Styling */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}
